<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="components/game page/style.css" />
    <title>Play Itsy Bitsy BOOM!</title>
    <meta name="description" content="Play Itsy Bitsy Boom!Make sure to get all the spiders before your score hits zero!" />
  </head>

  <section class="game-full-content">
    <section class="game-left-side">
        <article class="game-board" id="game-board">
          <section class="board-header">

            <p id="remainingSpiders">000</p>

            <button onclick="clearBoard()">
              <img src="./media/images/Happy Spider.svg"/>
            </button>
            <button onclick="changeFlagMode()">
              <img id="flagInidcator" src="./media/images/redflag.svg" />
            </button>

            <p id="timer">000</p>
          </section>
          <section id="gameBody" class="gameBody">

          </section>
        </article>

        <footer class="game-bottom-row">
          <button onclick="openNewGamePopup()" class="new-game-button">+</button>
          <button onclick="openInstructionsPopup()" class="instructions-button">?</button>
          <button onclick="handleButtonClick('leaderboard page')" class="leaderboard-button">
            <img src="media/images/trophy.svg" alt="illustration of a trophy" class="flagImg"/>
          </button>
        </footer>
    </section>
    <section class="game-right-side">
        <h1>Itsy Bitsy  BOOM!</h1>
        <h2 id="enjoyUser">Make sure to capture all the spiders before your score hits zero!</h2>
        <p id="Score">Score: 1000</p>

        <article class="game-button-section">
            <button onclick="handleButtonClick('leaderboard page')" class="leaderboard-button">Leaderboard</button>
            <button onclick="openNewGamePopup()" class="new-game-button">New game</button>
            <button onclick="openInstructionsPopup()" class="instructions-button">Instructions</button>
        </article>
    </section>
  </section>
</html>
