<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="components/instructions popup/style.css"
    />
  </head>
    <section class="full-content-instructions">
        <h1>Instructions</h1>
        <p>Itsy Bitsy Boom is a game where you uncover squares on a grid, trying to avoid spiders. <br> Click a square to start; if it's a spider, you lose.  If it's not, it reveals a number indicating nearby spiders. Use these numbers to deduce where spiders are and mark them with flags to avoid clicking on them. Win by uncovering
          all safe squares; lose by clicking 
         on a spider.It's a game of logic and luck, so enjoy and try to beat your best time! <br> </p>
            <button onclick="openNewGamePopup()">Play Now</button>

            <!-- SOME NOTES ON HOW I WANT TO DO THE BOARD:
            
            1) grid of buttons
            2) each button has a on click
              2.1) on the click check if the cell is open if not do nothing
              2.2) if yes, either open the cell or flag it depending on the mode of the baord/ right click or left click
            3) if win (ie all non spider cells are open) display popup
            4) if lose (click on spider) display loss popup
            5) if open non bomb cell: use bfs or floodfill to find all components that are 0s until its fully surrounded by by numbers-->
  </main>
</html>
