<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/Front end/components/instructions popup/style.css"
    />
  </head>
    <section class="full-content">
        <h1>Instructions</h1>
        <p>Itsy Bitsy Boom is a game where you uncover squares on a grid, trying to avoid spiders.</p>

        <p>Click a square to start; if it's a spider, you lose.  If it's not, it reveals a number indicating nearby spiders. Use these numbers to deduce where spiders are and mark them with flags to avoid clicking on them. Win by uncovering
             all safe squares; lose by clicking 
            on a spider.</p>
            
            <p>It's a game of logic and luck, so enjoy and try to beat your best time!</p>
            <button onclick="openNewGamePopup()">Play Now</button>
  </main>
</html>
