.full-content-instructions{
    display: flex;
    flex-direction: column;
    flex:1;
    height: 100%;
    gap:0;
    color: white;
}
.full-content-instructions p{
    width: 90%;
    text-align: center;
    font-family: poppins;
    font-size: 1.2em;
    flex:1;
}

.full-content-instructions h1{
    margin: 0;
    font-size: 3rem;
}

.full-content-instructions button{
    background-color: transparent;
    width: 50%;
    height: 10%;
    font-family: poppins;
    font-size: 1.5em;
    border-radius: 2em;
    border:1px solid white;
    margin: 5%;
    color: white;
}

.full-content-instructions button:active{
    background-color: #74867d;
}

@media (max-width: 600px){
    .full-content-instructions{
        max-width: 90%;
        height:auto;
        padding: 2%;
        margin: auto;
    }

    .full-content-instructions p{
        text-align: center;
        font-family: poppins;
        font-size: 1.5em;
        flex:1;
    }

    .full-content-instructions button{
        background-color: transparent;
        width: 50%;
        height: 50%;
        font-family: poppins;
        font-size: 1em;
        border-radius: 2em;
        border:1px solid white;
        margin: 7%;
        color: white;
    }
}