.mainBody{
    /* max-width: 80%;
    height: 70%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 5%;
    flex:1 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    max-width: 30%;
    height: 80%;
    border-radius: 10px;
    margin: auto;
}

.mainBody h1{
    width: 100%;
    text-wrap:balance;
    /* font-size: 3rem; */
}

.exit-button{
    background-color: transparent;
    border:none;
    height: 90%;
    width: 10%;
    font-family: poppins;
    font-size: 1em;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBody header{
    height: 5%;
    font-size: 2em;
    width: fit-content;
    margin: 1%;
}

@media (max-width: 600px){
    .mainBody{
        max-width: 80%;
        height:auto;
        padding: 5%;
        margin: auto;
    }

    .mainBody h1{
        width: 80%;
        text-wrap:balance;
    }
    .mainBody p{
        width: 60%;
        font-size: 0.7em;
        text-wrap: balance;
    }

.popup-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
}
