.mainBody{
    max-width: 80%;
    height:auto;
    display:flex;
    border-radius:10px;
    flex-direction:column;
    padding:5%;
    flex:1;
    opacity:95%;
     /* flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin: auto; */
}

.mainBody h1{
    width: 100%;
    text-wrap:balance;
    /* font-size: 3rem; */
}

.exit-button{
    background-color: transparent;
    border:none;
    height: 90%;
    width: 10%;
    font-family: poppins;
    font-size: 0.7em;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBody header{
    height: 5%;
    font-size: 2em;
    width: fit-content;
    margin: 0%;
}

.popup-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
    .mainBody{
        width: 90%;
        height:auto;
        padding: 5%;
        margin: auto;
        opacity: 95%;
    }

    .mainBody h1{
        width: 90%;
        text-wrap:pretty;
        font-size: 1.5em;
    }
    .mainBody p{
        max-width: 80%;
        font-size: 0.5em;
        text-wrap: balance;
    }

    .popup-content{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
}
}
