.full-content{
    display: flex;
    flex:1;
    height: 90%;
    color: white;
}
.popup-button-container{
    gap:2em;
    width: 50%;
}
.popup-button-container button{
    border-radius: 10rem;
    height: 4rem;
    min-width: 100%;
    font-family: poppins;
    cursor: pointer;
    border: 1px solid white;
    background-color:#777CA4;
    color: white;
    font-size: 2rem;

}
.popup-button-container button:active{
    background-color:#515571;
}

section h1{
    text-align:center;
    font-size: 3.5em;
    margin: 0;
}