.full-content{
    display: flex;
    width: 100%;
    flex:1;
    height: 100%;
    color: white;
    flex-direction: column;
}
.popup-button-container{
    gap:1em;
    width: 80%;
    flex:1;
}
.popup-button-container button{
    border-radius: 10rem;
    height: 4rem;
    min-width: 100%;
    font-family: poppins;
    cursor: pointer;
    border: 1px solid white;
    background-color:#777CA4;
    color: white;
    font-size: 2rem;

}
.popup-button-container button:active{
    background-color:#515571;
}
