.full-content-warning{
    display: flex;
    flex:1;
    height: 100%;
    gap:0;
}
.full-content-warning p{
    text-align: center;
    font-family: poppins;
    flex:1;
}

.warning-text{
    margin: 0;
    font-size: 3em;
    color: white;
    
}

.full-content-warning button{
    background-color: transparent;
    width: 60%;
    height: 10%;
    border-radius: 2em;
    border:1px solid white;
    margin: 5%;
    font-size: 1rem;
    font-family: "poppins";
    color: white;
    cursor: pointer;
}

.full-content-warning button:active{
    background-color: #ff7f61;
}
.warning-heading{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

.warning-footer{

    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 10%;
}

.full-content-warning p{
    color: white;
    font-size:1em;
}