<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/Front end/components/leaderboard page/style.css"
    />
  </head>
  <main>
    <section class="left-side">
      <h1>Leaderboard</h1>
      <section class="board" id="leaderboard">

        <section class="boardSection">
            <section class="outer">
                <p>#</p>
            </section>
            <section class="inner">
               <p>User</p> 
            </section>
            
            <section class="outer">
                <p>Score</p>
            </section>
            
        </section>
      </section>
    </section>
    <section class="right-side">
      <section class="prestats">
        <img src="/Front end/media/images/trophy.svg" />
        <h1>Your stats</h1>
      </section>
      <section class="stats">
        <section class="left-stats">
          <h2>High score</h2>
          <p id="score">900</p>
        </section>

        <section class="right-stats">
          <h2>Position</h2>
          <p id="position">1</p>
        </section>
        
        
      </section>
      <section class="buttons">
        <button class="new-game-button">New game</button>
        <button class="instructions-button">Instructions</button>
      </section>
      
    </section>
  </main>
</html>
