
main{
    display: flex;
    flex-direction: row;
    flex:1;
    height: 100%;
    font-family: 'poppins';
    color: #353959;
    width: 100%;
}

section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}

section h1{
    text-align:center;
    font-size: 10em;
    margin: 0;
}

section h2{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    border: transparent;
}

.button-container button{
    border-radius: 10rem;
    min-width: 65%;
    min-height: 5rem;
    font-size: 1.5em;
    color: white;
    font-family: poppins;
    border:none;
    cursor: pointer;
}

.new-game-button{
    background-color: #FD7461;
}

.login-button{
    background-color: #B59584;
    
}

.leaderboard-button{
    background-color: #99B8AA;
}
.instructions-button{
    background-color: #777CA4;
}

.button-container{
    min-width: 50%;
    max-height:min-content;
    flex-grow: 0;
}

.right-side p{
    color: #353959;
    font-size: 2.5em;
    font-weight: 600;
    text-align:center;
    padding-bottom: 2%;
}

.spider1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 10%;
}
.spider2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
    margin-right: 10%;
}
.spider-right-side{
    display: none;
    
}
.bottom-spider{
    display: none;
}
@media (max-width: 600px){
    main{
        flex-direction: column;
    }    
    section h1{
        font-size: 4.5em;

    }
    .left-side{
        align-items: center;
    }
    section h2{
        font-size: 1.5em;
        font-weight: 400;
        padding-bottom: 5%;
    }
    .right-side{
        flex:2;
        gap: 5;
    }
    .right-side p{
        margin: 0;
        font-size: 1.5em;
    }
    .spider1{
        display: block;
        
    }

    .spider2{
        display: block;
        max-width: 4em;
    }
    .spider-right-side{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
        margin-right: 1%;
        
    }

    .bottom-spider{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-left: 10%;
        
    }

    /* .spider-button{
        width: 100%; 
        height: 100%; 
        position: fixed;
        right: 2vw;
        top: 1vh;
      } */
    
    /* .spider-button{
        background: transparent;
      } */

    .button-container button{
        border-radius: 5rem;
        width: 90%;
        height: 20%;
        font-size: 1.2em;
        color: white;
        font-family: poppins;
        border:none;
        cursor: pointer;
    }

    .button-container{
        min-width: 80%;
        max-height:min-content;
        flex-grow: 0;
    }
    
}

