<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
        <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Front end/components/welcome page/style.css" />
</head>
<main>
    <section class="left-side">
        <section class="spider-right-side">
          <img src="./media/images/Happy Spider.svg" class="spider1" />
        </section>
  
        <h1>Itsy Bitsy BOOM!</h1>
        <h2>It’s minesweeper for spiders, or avoiding spiders - you decide.</h2>
      </section>
      <section class="right-side">
        <p>Welcome user</p>
        <section class="button-container">
          <button class="new-game-button">New game</button>
          <button class="login-button">Login with Github</button>
          <button class="leaderboard-button">View Leaderboard</button>
          <button class="instructions-button">Instructions</button>
        </section>
        <section class="bottom-spider">
          <img src="./media/images/Happy Spider.svg" class="spider2" />
        </section>
      </section>
</main>
</html>